/*
 * @Description: less define
 * @Author: AodaZhang
 * @Date: 2020-05-14 14:54:16
 * @LastEditTime: 2020-05-14 23:57:31
 */

// dpr属性判断
@--dpr3: ~"(-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)";
@--dpr2: ~"(-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)";

// 图片目录路径1
@--localImgSrc1: '../../2020_May/img';