/*
 * @Description: less mobile mixin
 * @Author: AodaZhang
 * @Date: 2020-05-15 13:39:29
 * @LastEditTime: 2020-07-29 17:15:02
 */

#mobile {

  // 1.根据dpr本地背景图片自适应
  .image(@baseUrl: '', @imageName: '', @backgroundSize: cover, @imageExtension: 'png') {
    .backgroundImage(local, @baseUrl, @imageName, @backgroundSize, @imageExtension);

    @media @--device-dpr2 {
      .backgroundImage(local, @baseUrl, '@{imageName}@2x', @backgroundSize, @imageExtension);
    }

    @media @--device-dpr3 {
      .backgroundImage(local, @baseUrl, '@{imageName}@3x', @backgroundSize, @imageExtension);
    }
  }

  // 2.移动端1px边框，兼容安卓和iOS低版本
  .px1(@padSize: 0px, @borderColor: rgba(50, 50, 50, 1)) when(isnumber(@padSize)) {
    position: relative;

    &::after {
      .border(@borderColor, @borderType: border-bottom);
      .pointerEventNone();
      display: block;
      content: '';
      position: absolute;
      left: @padSize;
      right: @padSize;
      bottom: 0;

      @media @--device-dpr2 {
        transform: scaleY(0.33);
      }

      @media @--device-dpr3 {
        transform: scaleY(0.5);
      }
    }
  }
}